
@{
    ViewData["Title"] = "View";
}

<div class="containerLogin">
    <div class="circulo" runat="server">
        <img class="logo"src="~/lib/imagenes/pharmacy.png" />
    </div>
    <div class="elementosInternos" runat="server">
        <form class="login" method="post" action="#" runat="server">
            <input class="usuario" type="password" name="codigo" placeholder="Ingresar codigo" runat="server" />
            <div class="botonLogin" runat="server">
                <input class="boton" runat="server" type="submit" name="Entrar" value="Validar" />
            </div>
        </form>
    </div>
</div>