
@{
    ViewData["Title"] = "Soporte";
}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/soporte.css">
    </head>
    <body>
        <header>
            <div class="titulologo">
                <img class="logito" src="/lib/imagenes/cruz.png" alt="logo" />
                <h1>Farmacia Equisde</h1>
            </div>

            <nav>
                <ul>
                    <li><a href="../Vistas/Menu" class="botoncontacto">Menu</a></li>
                    <li><a href="../Home/login">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Contactar con:</h1>
            <br />
            <br />
            <div class="info">
       
                <div class="fila1">
                <h3>Felipe Catalán</h3><br />
                <h4>Correo: felipe.catalan@alumnos.ipleones.cl</h4><br />
                <h4>Telefono: +56971887758</h4><br /><br />
                </div>

                <div class="fila2">
                <h3>Gregory Majano</h3><br />
                <h4>Correo: gregory.majano@alumnos.ipleones.cl</h4><br />
                <h4>Telefono: +56971887758</h4><br /><br />
                </div>

                <div class="fila3">        
                <h3>Luis Yañez</h3><br />
                <h4>Correo: luis.yanez@docentes.ipleones.cl</h4><br />
                </div>
            </div>
            <footer>
                © 2023 Farmcia Equisde. Todos los derechos reservados
            </footer>
        </main>
    </body>
</html>
